<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalWebsiteiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B15867B1CFA24C60003AC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B15868F1CFA24C60003AC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B15869A1CFA24C60003AC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
